<h2>Historial de transacciones</h2>

<div class="filter-container">
  <label for="fechaInicio">Fecha Inicio:</label>
  <p-datepicker
    id="fechaInicio"
    [(ngModel)]="filtros.fechaInicio"
    [showClear]="true"
  ></p-datepicker>

  <label for="fechaFin">Fecha Fin:</label>
  <p-datepicker
    id="fechaFin"
    [(ngModel)]="filtros.fechaFin"
    [showClear]="true"
  ></p-datepicker>

  <div class="form-group">
    <label for="tipo">Tipo de transacción:</label>
    <div style="display: flex; gap: 10px">
      <div style="display: flex; gap: 5px">
        <p-radiobutton
          name="tipo"
          [value]="undefined"
          [(ngModel)]="filtros.tipo"
          inputId="tipoTodos"
        />
        <label for="tipoTodos">Todos</label>
      </div>
      <div style="display: flex; gap: 5px">
        <p-radiobutton
          name="tipo"
          value="1"
          [(ngModel)]="filtros.tipo"
          inputId="tipoCompra"
        />
        <label for="tipoCompra">Compra</label>
      </div>
      <div style="display: flex; gap: 5px">
        <p-radiobutton
          name="tipo"
          value="2"
          [(ngModel)]="filtros.tipo"
          inputId="tipoVenta"
        />
        <label for="tipoVenta">Venta</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label htmlFor="productoId">Producto:</label>
    <p-select
      [(ngModel)]="filtros.productoId"
      [options]="productos"
      optionLabel="nombre"
      optionValue="id"
      placeholder="Seleccione un producto"
      [showClear]="true"
    />
  </div>

  <button pButton (click)="cargar()">Filtrar</button>
</div>

<a routerLink="/transacciones/registrar" pButton>
  <span pButtonLabel>Nueva transacción</span>
</a>

<p-table
  #dt
  dataKey="id"
  [value]="transacciones"
  [paginator]="true"
  [rows]="20"
  [loading]="cargando"
>
  <ng-template #header>
    <tr>
      <th>Tipo</th>
      <th>Fecha</th>
      <th>Producto</th>
      <th>Stock</th>
      <th>Cantidad</th>
      <th>Precio Unitario</th>
      <th>Precio Total</th>
      <th>Detalle</th>
      <th>Acciones</th>
    </tr>
  </ng-template>

  <ng-template #body let-transaccion>
    <tr>
      <td>{{ transaccion.tipo }}</td>
      <td>{{ transaccion.fecha | date: "short" }}</td>
      <td>{{ transaccion.productoNombre }}</td>
      <td>{{ transaccion.productoStock }}</td>
      <td>{{ transaccion.cantidad }}</td>
      <td>{{ transaccion.precioUnitario | currency }}</td>
      <td>{{ transaccion.precioTotal | currency }}</td>
      <td>{{ transaccion.detalle }}</td>
      <td></td>
    </tr>
  </ng-template>
</p-table>
